*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

#root{
  background-color: white;
  width: 100%;
  margin: 0 auto;
  background-color: #FAFAFA;
}
.header-container {
  width: 90%;
  margin: 0 auto;
}

.book {
  background-color: white;
  box-shadow: 1px 1px 1px 1px #888888;
}
.center{
  width: 90%;
  margin: 0 auto;
}


body {
  background-color: red;  
  background-color: #FAFAFA;
  margin: 0 auto;  
}

.check,
.check *{
  border: 1px solid black;
}
